.stickyContainer {
  text-align: center;
  width: 100%;
  z-index: 2;
}
  
.stickyContainer.stick {
  margin-top: 0;
  position: fixed;
  top: 0;
  text-align: center;
  z-index: 2;
}
  
body {
  background: url('https://wallpapercave.com/wp/sYIlSxO.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%;
}

header {
  text-align: center;
}

.highContrastText {
  color: black;
  text-shadow: 0.07em 0 white, 0 0.07em white, -0.07em 0 white, 0 -0.07em white;
}

.centerOnLoad {
  margin-top: 35vh;
}

form {
  text-align: center;
}

.mapsContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 99%;
  height: 100%;
  z-index: 1;
}

#politicalMap {
  height: 30vh;
  width: 50vw;
  border-radius: 500px 0px 0px 500px;
  /* border: 3px solid lightskyblue; */
}

#geographicMap {
  height: 30vh;
  width: 50vw;
  border-radius: 0px 500px 500px 0px;
  /* border: 3px solid lightskyblue; */
}

.areaHistory {
  display: inline-flex;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}

.currentEvents {
  background-color: lightblue;
}

.hideOnLoad {
  display: none;
}

.pageChangeButtons {
  display: inline-flex;
  width: 99%;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.pageNumber {
  width: 10vw;
  max-height: 8vh;
  font-weight: bold;
  text-align: center;
  background-color: lightgray;
  border-radius: 100%;
}

.nextPage, .previousPage {
  width: 40vw;
  height: 4vh;
}

.newsArticleTitle {
  border-top: 5px solid darkgray;
  border-left: 10px solid darkgray;
}

@media only screen and (min-width:900px) {
  #politicalMap, #geographicMap {
    height: 40vh;
    width: 40vw;
  }
}

@media only screen and (max-width:500px) {
  .mapsContainer {
    flex-flow: column wrap;
    align-content: center;
  }
  #politicalMap, #geographicMap {
    height: 30vh;
    width: 80vw;
    border-radius: 500px;
  }
  .areaHistory {
    width: 100%;
  }
  .nextPage, .previousPage {
  height: 8vh;
  }
}