/* general--------------- */
body {
  background: url('https://wallpapercave.com/wp/sYIlSxO.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100%;
}


/* header and search element styling--------------- */
header {
  text-align: center;
}

form {
  text-align: center;
}

.centerOnLoad {
  margin-top: 35vh;
}

/* map elements---------------- */
.mapsContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 99%;
  height: 100%;
  z-index: 1;
}

#politicalMap {
  height: 30vh;
  width: 50vw;
  border-radius: 500px 0px 0px 500px;
}

#geographicMap {
  height: 30vh;
  width: 50vw;
  border-radius: 0px 500px 500px 0px;
}

/* Wiki location info--------------------  */
.areaHistory {
  display: inline-flex;
  width: 100%;
  background-color: #b9d3c2;
  text-align: center;
  justify-content: center;
}

/* stylings for news articles and page selector--------------- */
.currentEvents {
  background-color: #b9d3c2;
}

.newsArticleTitle {
  border-top: 5px solid #7C84AE;
  border-left: 10px solid #7C84AE;
  /* border-radius: 20px; */
}

.newsContent {
  padding-left: 1vw;
}

.pageChangeButtons {
  display: inline-flex;
  width: 99%;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.pageNumber {
  /* width: 10vw; */
  /* max-height: 8vh; */
  font-weight: bold;
  text-align: center;
  background-color: lightgray;
  /* border-radius: 100%; */
}

.nextPage, .previousPage {
  width: 40vw;
  height: 4vh;
}

/* misc. classes------------------------ */
.highContrastText {
  color: black;
  text-shadow: 0.07em 0 #FFE7AA, 0 0.07em #FFE7AA, -0.07em 0 #FFE7AA, 0 -0.07em #FFE7AA;
}

.hideOnLoad {
  display: none;
}

/* stylings for varying screen sizes------------------- */
@media only screen and (min-width:900px) {
  #politicalMap, #geographicMap {
    height: 40vh;
    width: 40vw;
  }
}

@media only screen and (max-width:500px) {
  .mapsContainer {
    flex-flow: column wrap;
    align-content: center;
  }
  #politicalMap, #geographicMap {
    height: 30vh;
    width: 80vw;
    border-radius: 500px;
  }
  .areaHistory {
    width: 100%;
  }
  .nextPage, .previousPage {
  height: 8vh;
  }
}